<!DOCTYPE html>
<html lang="en">
<%-include('../../particals/admin/head.ejs')%>

    <body>
        <%-include('../../particals/admin/header.ejs')%>

            <section id="mid">
                <div class="container">
                    <div class="row">
                        <%-include('../../particals/admin/left.ejs')%>
                        <div class="col-md-9">Right</div>
                    </div>
                </div>
            </section>

        <%-include('../../particals/admin/footer.ejs')%>
    </body>

</html>