<!DOCTYPE html>
<html lang="en">
    <%-include('../particals/user/head.ejs')%>
<body>
        <!-- Header Start To Here -->
        <%-include('../particals/user/header.ejs')%>
        <!-- Header End To Here -->

        <!-- Mid Start To Here -->
        <section id="mid">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2 class="text-center">Change Password</h2>
                        <%=message%>
                        <form action="" method="post">
                            <label for="">Current Password</label>
                            <input type="password" name="cpass" id="" class="form-control">
                            <label for="">New Password</label>
                            <input type="password" name="npass" id="" class="form-control">
                            <label for="">Confirm Password</label>
                            <input type="password" name="copass" id="" class="form-control mb-2">
                            <button type="reset" class="btn btn-danger">Cancel</button><button type="submit" class="btn btn-success" style="float: right;">Change Password</button>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </section>
        <!-- Mid End To Here -->

        
</body>
</html>