<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6>CONTACT</h6>
                <ul>
                    <a to="#"><li>About Us</li></a>
                    <a to="#"><li>Contact Us</li></a>
                    <a to="#"><li>Feedback</li></a>
                    <a to="#"><li>My Orders</li></a>
                    <a to="#"><li>Cart</li></a>
                </ul>
            </div>
            <div class="col-md-3" id="mail">
                <h6>CONSUMER POLICY</h6>
                <ul>
                    <a to="#"><li>Cancellation & Returns</li></a>
                    <a to="#"><li>Terms Of Use</li></a>
                    <a to="#"><li>Security</li></a>
                    <a to="#"><li>Privacy</li></a>
                    <a to="#"><li>Sitemap</li></a>
                    <a to="#"><li>EPR Compliance</li></a>
                </ul>
            </div>
            <div class="col-md-3 ps-5">
                <h6>MAIL US:</h6>
                <p>9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT. 9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45, Jaipur, India</p>
                <h6>SOCIAL:</h6>
                <i class="bi bi-facebook"></i> <i class="bi bi-twitter-x ms-3"></i> <i class="bi bi-youtube ms-3"></i>
            </div>
            <div class="col-md-3">
                <h6>Contact</h6>
                <ul>
                    <li>Telephone: <a to="#">+1 800 603 6035</a></li>
                    <li class="mt-2">E-mail: <a to="#">mail@demolink.org</a></li>
                </ul>
            </div>
        </div>
    </div>
<hr/>
</section>